# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\idaav\OneDrive - NTNU\NTNU\Dataingeniør\2. Semester\IDATT2001\Oblig2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
